*{
    margin: 0%;
    padding: 0%;
}
.info{
    text-align: center;
}
.container{
   
   
    display: flex;
   flex-direction: row;
   box-sizing: border-box;
  
  
}
.con{
    width: 30%;
    background: orange;
    height: 600px;
    margin: 1em;
    box-sizing: border-box;
    
    
}
.sbox{
    width: 97%;
    height: 48.7%;
    background: skyblue;
    float: column;
    
	
}
.a{
    margin-right: 1em;
    margin-bottom: 1em;
    
}
.b{
    margin-top: 1em;
    margin-right: 1em;
}
.box{
    width: 42%;
    height: 46%;
    background-color:skyblue;
    margin: 1em;
    
}
.ans{
    text-align: center;
    padding: 1em;
}
.con1{
    width: 30%;
    height: 600px;
    margin: 1em;
    background-color: orange;
    display: flex;
    flex-direction: row;
    

}
.dbox{
    width: 22%;
    height: 46%;
    background-color:skyblue;
    margin: 1em;
   
}

.innerclass3{
    padding: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.innerclass{
    padding: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.innerclass2{
    padding: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
}
.bbox{
    width: 80%;
    background-color: skyblue;
    flex: column;
}
.con3{
    width: 34%;
    background: orange;
    height: 600px;
    margin: 1em;
    box-sizing: border-box;
    
    
}
.inbox{
    width: 47%;
    height: 47.3%;
    background: skyblue;
    float: left;
    
	
}
.j{
   
     margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    width: 43.4%;
    height: 44%;
}
.k{
    margin-left: 1em;
    margin-bottom: 1em;
    
}
.l{
    margin-top: 1em;
    margin-right: 1em;
    
}
.m{
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    width: 42%;
    height: 44%;
 
}
.button{
 
    padding: 1em;
}


@media only screen and (max-width:768px) {
    .container{
        width: 100%;
        display: block;
       
    }
    .con{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 1em;
        
    }
    .sbox{
        width: 80%;
        height: 100%;
    }

    .con1{
        width: 100%;
        display: flex;
        flex-direction: column;
        
    }
    .box{
        width: 95%;

    }
    .con3{
        width: 100%;
       
    }
    .sbox{
        width: 46.4%;
    }
   
    
 }
 @media only screen and (max-width:1200px) {
     .container{
         width: 100%;
         display: block;
        
     }
     .con{
         width: 100%;
         display: flex;
         flex-direction: column;
         ;
     }
     .sbox{
         width: 95%;
         height: 100%;
     }
     
     .con2{
         width: 100%;
     }
     .con3{
         width: 100%;
     }
     
  }